<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用戶編輯</title>
</head>

<body>
    <form action="/users/update" method="post">
        <input type="hidden" name="id" value="<%= user._id %>"> 用戶名
        <input type="text" name="username" value="<%= user.username %>"><br/> 信箱地址
        <input type="email" name="email" value="<%= user.email %>"><br/>
        <button type="submit">確定修改</button>
    </form>
</body>

</html>